nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin: auto;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

ul li {
  padding: 0 10px;
}

ul li a {
  text-decoration: none;
}

.search-section {
  margin-top: 20px;
  text-align: center;
}
input {
  width: 40%;
  padding: 10px;
  border: 1px solid rgb(22, 17, 17);
  border-radius: 10px;
  font-size: 18px;
}
button {
  background-color: salmon;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 10px;
}

.title {
  margin: 15px 0;
}

.meal-result {
  margin-top: 15px;
}
.meal {
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.meal-item {
  border-radius: 10px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal h3 {
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .meal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.meal-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
